name: test actions/build

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-dotnet/.github/actions/setup@main
        with:
          dotnet-version: "9.x"

      - uses: percebus/github-actions-dotnet/.github/actions/restore@main
      - uses: ./.github/actions/build

  OS__matrix:
    needs: default
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        include:
          - windows:
              OS: windows-latest
              ls_cli_arguments: ""

          - macos:
              OS: macos-latest

    runs-on: ${{ matrix.OS }}
    steps:
      - uses: percebus/github-actions-dotnet/.github/actions/setup@main
        with:
          dotnet-version: "9.x"

      - uses: percebus/github-actions-dotnet/.github/actions/restore@main
        with:
          ls_cli_arguments: ${{ matrix.ls_cli_arguments }}

      - uses: ./.github/actions/build

  project_type__matrix:
    needs: default
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        include:
          - sln:
              project-type: sln
              dotnet-version: "8.x"

          - slnx:
              project-type: slnx
              dotnet-version: "9.x"

    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-dotnet/.github/actions/setup@main
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - uses: percebus/github-actions-dotnet/.github/actions/restore@main
        with:
          working-directory: assets/dotnet/${{ matrix.project-type }}

      - uses: ./.github/actions/build
        with:
          working-directory: assets/dotnet/${{ matrix.project-type }}
