name: test actions/restore

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

env:
  DOTNET_VERSION: "9.x"

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main

      - uses: ./.github/actions/setup
        with:
          dotnet-version: "${{ env.DOTNET_VERSION }}"

      - uses: ./.github/actions/restore

  OS__matrix:
    needs: default
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        include:
          - OS: macos-latest

          - OS: windows-latest
            ls_cli_arguments: ""

    runs-on: ${{ matrix.OS }}
    name: "dotnet restore @ ${{ matrix.OS }}"
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main

      - uses: ./.github/actions/setup
        with:
          dotnet-version: "${{ env.DOTNET_VERSION }}"

      - uses: ./.github/actions/restore
        with:
          ls_cli_arguments: ${{ matrix.ls_cli_arguments }}

  project__matrix:
    needs: default
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        include:
          - project-name: SemanticKernelSampler
            project-type: sln
            dotnet-version: "8.x"

          - project-name: AgentFrameworkSampler
            project-type: slnx
            dotnet-version: "9.x"

          - project-name: console
            project-type: csproj
            dotnet-version: "10.x"

    runs-on: ubuntu-latest
    name: "dotnet restore ${{ matrix.project-name }}/*.${{ matrix.project-type }}"
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main

      - uses: ./.github/actions/setup
        with:
          dotnet-version: ${{ matrix.dotnet-version }}

      - uses: ./.github/actions/restore
        with:
          working-directory: assets/dotnet/${{ matrix.project-name }}
          dotnet_project: "*.${{ matrix.project-type }}"
