name: test actions/setup

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main

      - uses: ./.github/actions/setup
        with:
          dotnet-version: "10.x"

  dotnet-version__matrix:
    needs: default
    strategy:
      max-parallel: 6
      fail-fast: false
      matrix:
        dotnet-version:
          - "6.x"
          - "7.x"
          - "8.x"
          # - "9.x"
          - "10.x"
          # - "latest" # Does NOT work

    runs-on: ubuntu-latest
    name: dotnet @ ${{ matrix.dotnet-version }}
    steps:
      - uses: percebus/github-actions-common/.github/actions/checkout@main

      - uses: ./.github/actions/setup
        with:
          dotnet-version: ${{ matrix.dotnet-version }}
