name: test actions/setup

on:
  workflow_dispatch: # Allows you to run this workflow manually from the Actions tab
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  default:
    runs-on: ubuntu-latest
    steps:
      - uses: ./.github/actions/setup
        with:
          dotnet-version: '9.x'
